RewriteEngine on
ErrorDocument 404   http://localhost/JagoronKendro-blog/404.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<Files "subscribers.txt">
    Order Allow,Deny
    Deny from all
</Files>
