RewriteEngine on
ErrorDocument 404   http://localhost/JagoronKendro-blog/404.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


# Block access to the subscribers.txt file
<Files "subscribers.txt">
    Order Allow,Deny
    Deny from all
</Files>

# Deny all direct access to files in this folder
<FilesMatch ".*">
  Order Allow,Deny
  Deny from all
</FilesMatch>

# Allow access from the server (e.g., via PHP scripts)
<FilesMatch "\.php$">
  Allow from localhost
</FilesMatch>

